Jinja2<3.1
sphinx>=7.1,<7.2
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
numpy
scipy
pandas
matplotlib
deeptime
MDAnalysis==2.8
cython
biotite
pensa
