Jinja2<3.1
sphinx>=7.1,<7.2
sphinx_rtd_theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
numpy==1.22
scipy==1.9
pandas==1.4
matplotlib==3.5
deeptime
MDAnalysis==2.2
cython
biotite
pensa==0.3.0
